.resume-button {
    background-color: #5a47c2d8 ;
    color: white;
    border: 1px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
  }
  
  .resume-button:hover {
    background-color: #3a23bb88
  }