<!-- <div class = div-inner-content> -->
  
    <div nz-row>
        <div nz-col nzFlex="10%"></div>
        <div nz-col nzFlex="auto"><h1> Contact me</h1></div>
     </div>
    <div nz-row>
    </div>
    <div nz-row>
     </div>
    <div nz-row>
        <div nz-col nzFlex="20%"></div>
        <div nz-col nzFlex="20%">Phone Number:</div>
        <div nz-col nzFlex="auto">Fill Rest</div>
     </div>
    <!-- <nz-divider nzText="Phone Number">Phone Number</nz-divider> -->
    <p>724-991-5214</p>
    <!-- <nz-divider nzText="Email">Phone Number</nz-divider> -->
    <p>marioromildoperri&#64;gmail.com</p>
<!-- </div> -->
