[nz-row] {
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
  min-height: max-content;
  margin-bottom: 5%;
  margin-top: 5%;
}
.contact-me-watermark {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 10;
  justify-content: center;
  align-content: center;
}
[nz-col] {
  z-index: 1;
}
.social-icons {
  font-size: xx-large;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 50%;
  z-index: 1;
}
.profile-picture-container {
  width: 350px;
  height: 350px;
  border: 3px solid rgba(0, 0, 139, 0.726);
  border-radius: 50%;
  z-index: 1;
  margin-left: 1%;
  float: left;
  flex: 1;
}
.contact-information-container{
  float: right;
  padding-top: 5%;
  padding-right: 1%;
  flex: 1;
}

