

.name {
    float: left;
    font-family: Brush Script MT;
    font-style: normal;
    font-weight: 650;
    font-size: xx-large;    
  }
  
  .commented-out {
    color: grey;
  }
  .layout{
    background-color: rgb(255, 255, 255);
  }
  nz-layout {
    height: 100%;
  }
  nz-content {
   height: 100%;
  }
  
  .name-semicolon {
    float: left;
    font-size: x-large;
    font-weight: 500;
  }
  .margin-down {
    margin-bottom: 2%;
  }
  
  .header-padding {
    margin-right: 500px;
  }
  
  [nz-menu] {
    line-height: 64px;
  }
  [nz-menu-item] {
    color: rgba(0, 0, 139, 0.842);
    font-weight: 400;
    font-size: larger;
  }
  .right-centered-span{
    float:right
  }
  .item-routes{
    color: darkblue;
  }
  
  nz-footer {
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    bottom: 0;
    display: flex;
    z-index: 100;
  }
  .pad-left{
    padding-left: 80px;
  }