

// @media  (max-width: 1250px){
//   .name-container{
//     position: fixed;
//     top: 2000px;
//     left: 20px;
//   }
// }
.name-container{
  position: fixed;
  top: 5px;
  left: 20px;
}
.name {
    float: left;
    font-family: 'Monofett';
    font-style: normal;
    font-weight: 500;
    font-size: xx-large;    
    width: 324px;
    flex: 1;
  }
  @media (max-width: 1250px) {
    .name {
        font-size: large;  
      }
  }
 
    
  
  .commented-out {
    color: grey;
  }
  .layout{
    background-color: rgb(255, 255, 255);
  }
  .content {
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
    flex-wrap: wrap;
  }

  
  .name-semicolon {
    float: left;
    font-size: x-large;
    font-weight: 500;
  }
  .margin-down {
    margin-top: 1%;
    margin-bottom: 3%;
  }
  
  .header-padding {
    margin-right: 500px;
  }
  
  [nz-menu] {
    line-height: 64px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  [nz-menu-item] {
    color: rgba(0, 0, 139, 0.842);
    font-weight: 400;
    font-size: larger;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    
  }
  .right-centered-span{
    
  }
  .item-routes{
    color: darkblue;
  }
  
  nz-footer {
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;
  }
  .pad-left{
    padding-left: 0px;
  }