

.name {
  // width: 120px;
  // height: 31px;
  // background: rgba(255, 255, 255, 0.2);
  // margin: 16px 24px 16px 0;
  float: left;
  font-family: Brush Script MT;
  font-style: normal;
  font-weight: 650;
  font-size: xx-large;
    
}

nz-content {
  padding: 0 50px;
}

.name-semicolon {
  float: left;
  font-size: x-large;
  font-weight: 500;
}

.header-padding {
  margin-right: 500px;
}

[nz-menu] {
  line-height: 64px;
}
[nz-menu-item] {
  color: rgba(0, 0, 139, 0.842);;
  font-weight: 400;
  font-size: larger;
  text-shadow: #bbb;
}
.right-centered-span{
  float:right
}
.item-routes{
  color: darkblue;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {

  padding: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
  position: relative;
  bottom: 0;
}
.pad-left{
  padding-left: 80px;
}
.inner-content {
  position: relative;
  padding: 500px;
  flex-direction: row;
  min-height: max-content;
  background-color:  #3a23bb88;
  float: top;
  justify-content: top;
  text-align: center;
}
