<div nz-row>
  <div nz-col nzFlex="50%">
    <div class="home-text-box" [@fadeDown]>
      <p class="header-text">Mario Romildo Perri</p>
      <p class="medium-text bold">
        Dedicated and diligent software engineer specializing in full stack
        development, I have demonstrated success in working with a Fortune 500
        banking client. Along with full stack development, my expertise lies in
        developing highly performant REST APIs, ensuring efficient and seamless
        integration within complex systems. My commitment to excellence and my
        problem-solving skills have consistently contributed to the delivery of
        high-quality solutions in a demanding and fast-paced environment.
      </p>
    </div>
  </div>
  <div nz-col nzFlex="50%">
    <div class="home-text-box" [@fadeDown]>
      <nz-divider nzText="Backend Development"></nz-divider>
      <p></p>
    </div>
    <div class="home-text-box">
      <nz-divider nzText="Frontend Development"></nz-divider>
      <p>Dedicated and diligent software engineer specializing in full stack
        development, I have demonstrated success in working with a Fortune 500
        banking client. Along with full stack development, my expertise lies in
        developing highly performant REST APIs, ensuring efficient and seamless
        integration within complex systems. My commitment to excellence and my
        problem-solving skills have consistently contributed to the delivery of
        high-quality solutions in a demanding and fast-paced environment.</p>
    </div>
    <div class="home-text-box">
      <nz-divider nzText="Other Technologies"></nz-divider>
      <p>Dedicated and diligent software engineer specializing in full stack
        development, I have demonstrated success in working with a Fortune 500
        banking client. Along with full stack development, my expertise lies in
        developing highly performant REST APIs, ensuring efficient and seamless
        integration within complex systems. My commitment to excellence and my
        problem-solving skills have consistently contributed to the delivery of
        high-quality solutions in a demanding and fast-paced environment.</p>
    </div>
  </div>
</div>
