
  .home-text-box {
    width: 95%; 
    padding: 20px;
    background-color: #ffffff; 
    // border: 1px solid #cccccc; 
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    // border-radius: 10px; 
    line-height: 1.5; 
    margin-bottom: 20em;
    justify-content: center;
    align-content: center;
    
  }
.box-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-container-left,
  .home-container-right {
    display: flex;
    flex: 1;
    min-width: 200px; /* Minimum width for the divs */
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
  }

  #main-text-box{
    max-width: 1000px;
    margin-bottom: .5em;
  }

  @media (max-width: 550px) {
    .home-container-left,
    .home-container-right  {
        flex-direction: column; 
      }
  }